.no-display {
    display: none;
}

.ant-table-thead > tr > th {
    background-color: #ECECFF;
    font-weight: bold;
    padding: 13px;
}

.ant-table-container table > thead > tr > td {
    padding: 13px;
}

.ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

.ant-table-container table > tbody > tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.ant-table-container table > tbody > tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.ant-pagination-item {
    border-color: #E1E1FF;
}

.ant-pagination-item-link {
    border-color: #E1E1FF !important;
}

.ant-pagination-disabled .ant-pagination-item-link {
    color: #E1E1FF !important;
}

.ant-pagination-prev:not(.ant-pagination-disabled) .ant-pagination-item-link:hover,
.ant-pagination-next:not(.ant-pagination-disabled) .ant-pagination-item-link:hover {
    border-color: #8F00FF !important;
    color: #8F00FF !important;
}

.ant-pagination-item:hover,
.ant-pagination-item-active {
    border-color: #8F00FF;
}

.ant-pagination-item-active a,
.ant-pagination-item a:hover {
    color: #8F00FF;
}

/*.ant-pagination-disabled .ant-pagination-item-link:hover {*/
/*    border-color: #d9d9d9 !important;*/
/*}*/
