@font-face {
    font-family: Gropled;
    src: url(../fonts/gropled-bold.otf);
}

* {
    font-family: Roboto, sans-serif;
}

/*.ant-layout-header {*/
/*    background: #EFEFFF !important;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 19px 27px !important;*/
/*}*/

/*.ant-select:not(.ant-select-customize-input) .ant-select-selector {*/
/*    border-radius: 8px !important;*/
/*}*/

/*.header__currency-label {*/
/*    font-weight: bold;*/
/*    font-size: 14px;*/
/*    margin-right: 11px;*/
/*}*/

/*.header__avatar-block {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

/*.ant-layout-sider {*/
/*    background: #FFFFFF !important;*/
/*}*/

/*.sider__logo {*/
/*    font-family: Gropled, sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*    line-height: 5px;*/
/*    margin: 38px 0 55px 16px;*/
/*}*/

/*.sider__menu-item {*/
/*    height: 40px;*/
/*    padding-left: 16px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*}*/

/*.sider__menu-item_active {*/
/*    background: #ECECFF;*/
/*    border-right: 2px solid #8F00FF;*/
/*}*/

/*.ant-layout-content {*/
/*    min-height: 120px;*/
/*    background: #F9F9FF !important;*/
/*}*/
